/* Defaults */
:root {
  --mono: ui-monospace, monospace;
  --sans: system-ui, sans-serif;

  --main: #ffffff;
  --body: #eceff4;
  --head: #e5e9f0;
  --line: #d8dee9;
  --link: #5e81ac;
  --next: #81a1c1;
  --text: #2e3440;
  --meta: #434c5e;
  --code: #bf616a;
}
@media (prefers-color-scheme: dark) {
  :root {
    --main: #2e3440;
    --body: #3b4252;
    --head: #434c5e;
    --line: #4c566a;
    --link: #81a1c1;
    --next: #5e81ac;
    --text: #eceff4;
    --meta: #d8dee9;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
}
html {
	overflow-y: scroll;
  scroll-behavior: smooth;
  text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
/* Theme */
body {
  background: var(--body);
  background-image: linear-gradient(to right, var(--head) 1px, transparent 1px), linear-gradient(to bottom, var(--head) 1px, transparent 1px);
  background-size: 1rem 1rem;
  color: var(--text);
  font-family: var(--sans);
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 45rem;
  padding: 1rem;
}
header {
  background: var(--main);
  border-bottom: 1px solid var(--line);
  border-radius: 10px 10px 0 0;
  margin: 2rem 0 0;
  padding: 2rem 0.5rem 1rem;
  text-align: center;
}
header a {
  color: var(--text);
  text-decoration: none;
}
header a:hover {
  color: var(--link);
  transition: all 0.25s ease;
}
header h1 {
  padding: 0;
}
header img {
  background: var(--main);
  border: 2px solid var(--main);
  border-radius: 1000px;
  margin-top: -4.5rem;
  height: 80px;
  width: 80px;
}
header img:hover {
  border: 2px solid var(--text);
  transition: all 0.25s ease;
}
header nav {
  padding: 0.25rem;
}
header nav a {
  background: var(--main);
  border: 1px solid var(--line);
  border-radius: 6px;
  color: var(--text);
  font-size: 0.75rem;
  margin: 0.25rem;
  padding: 0.375rem 0.5rem;
  text-transform: uppercase;
}
header nav a:hover,
header nav a.current,
header nav a[aria-current="page"] {
	background: var(--body);
  border: 1px solid var(--link);
}
main {
  background: var(--main);
  margin: 0 auto;
  padding: 0.5rem 1rem;
}
footer {
  align-items: center;
  background: var(--main);
  border-radius: 0 0 10px 10px;
  border-top: 1px solid var(--line);
  color: var(--meta);
  display: flex;
  font-size: 0.875rem;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0.5rem 0.5rem 0.75rem 1.25rem;
}
footer a {
  text-decoration: none;
}
footer nav a {
  color: var(--meta);
  font-weight: normal;
  text-decoration: underline;
  padding: 0 0.25rem;
}
footer nav a:hover {
  color: var(--link);
}
/* Typography */
h1, h2, h3, h4, h5, h6, p {
  margin: 0 auto;
  padding: 0.5rem;
}
h1 {
  font-size: 2rem;
  line-height: 1;
}
h2 {
  font-size: 1.75rem;
  line-height: 1.1;
}
h3 {
  font-size: 1.5rem;
  line-height: 1.2;
}
h4 {
  font-size: 1.25rem;
  line-height: 1.3;
}
h5 {
  font-size: 1.125rem;
  line-height: 1.4;
}
h6, p {
  font-size: 1rem;
  line-height: 1.5;
}
p + p {
  margin: 0 auto;
  padding-top: 0;
}
a {
  color: var(--link);
  transition: all 0.25s ease;
}
a:hover {
  color: var(--next);
  text-decoration: none;
}
abbr {
  cursor: help;
}
button {
  background: var(--main);
  border: 1px solid var(--meta);
  border-radius: 6px;
  color: var(--meta);
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
  padding: 4px 6px;
  transition: all 0.25s ease;
}
button:hover {
  background: var(--body);
  border: 1px solid var(--link);
  color: var(--link);
}
cite, time {
  color: var(--meta);
  font-size: 0.875rem;
}
code, samp, var {
  color: var(--code);
  font-family: var(--mono);
  font-size: 0.875rem;
}
dd {
  margin-left: 1.5rem;
}
dl, ol, ul {
  line-height: 1.7;
  margin: 0.5rem auto;
  padding-left: 1.5rem;
}
hr {
	border: 1px dashed var(--line);
  margin: 0.5rem auto;
}
mark {
  background: var(--head);
  border: 1px solid var(--line);
  border-radius: 6px;
  color: var(--text);
  padding: 1px 4px 2px;
}
nav {
  padding: 0.5rem;
}
nav a {
  font-weight: bold;
  text-decoration: none;
}
q::after {
  color: var(--next);
  content: "\275E";
}
q::before {
  color: var(--next);
  content: "\275D";
}
sub, sup {
  line-height: 1;
}
/* Elements */
article {
  border: 1px solid var(--head);
  border-radius: 6px;
  margin: 1rem auto;
  padding: 0 0.5rem 0 0.25rem;
  transition: all 0.25s ease;
}
article:hover {
  box-shadow: 2px 2px 10px var(--line);
}
article img {
  background: var(--body);
  border: 1px solid var(--line);
  border-radius: 1000px;
  float: right;
  height: 3.5rem;
  width: 3.5rem;
}
aside {
  background: var(--body);
  border: 1px solid var(--line);
  border-radius: 6px;
  float: right;
  padding: 0 0.5rem;
  width: 40%;
}
blockquote {
  border: 1px solid var(--head);
  border-inline-start: 4px solid var(--next);
  border-radius: 0 6px 6px 0;
  margin: 0.5rem auto;
  padding: 0.25rem;
}
details {
  border: 1px solid var(--head);
  border-radius: 6px;
  margin: 0.5rem auto;
  padding: 0.5rem 1rem;
}
details p {
  padding: 0.25rem 0.875rem 0;
}
summary {
  font-weight: bold;
}
kbd {
  border: 1px solid var(--line);
  border-bottom: 3px solid var(--line);
  border-radius: 6px;
  font-family: var(--mono);
  font-size: 0.875rem;
  padding: 2px 4px;
}
pre {
  background: var(--body);
  border: 1px solid var(--line);
  border-radius: 6px;
  color: var(--meta);
  font-family: var(--mono);
  font-size: 0.875rem;
  line-height: 1.4;
  margin: 1rem auto;
  overflow: auto;
  padding: 0.5rem 0.75rem;
}
audio, img, picture, video {
  border-radius: 6px;
  margin: 0.5rem auto;
  max-width: 100%;
}
embed, iframe, object {
  border: 1px solid var(--line);
  border-radius: 6px;
  margin: 0.5rem auto;
  width: 100%;
}
figure {
  margin: 0 auto;
  overflow-x: auto;
}
figcaption {
  color: var(--meta);
  font-size: 0.875rem;
	font-style: italic;
  margin-bottom: 0.25rem;
  text-align: center;
}
table {
  border-collapse: collapse;
  margin: 0.5rem auto;
  width: 100%;
}
table caption {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
td, th {
  border: 1px solid var(--line);
  padding: 0.5rem;
}
th, tr:nth-child(even) {
  background: var(--body);
}
section {
  margin: 0 auto;
}
section ul {
  padding: 0;
}
section li {
  border-bottom: 1px solid var(--head);
  overflow: hidden;
  padding: 0.25rem 0.5rem;
}
section li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
section li a {
  font-size: 0.875rem;
  font-weight: bold;
  text-decoration: none;
}
section li div {
  float: left;
  max-width: calc(100% - 6.25rem);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
section li span {
  float: right;
}
/* Classes */
.anchor {
	margin-left: 0.125rem;
	text-decoration: none;
}
a.anchor,
a.anchor:visited {
	color: transparent;
}
a.anchor:focus,
a.anchor:hover {
	color: var(--next);
}
.gallery {
  display: grid;
  grid-auto-rows: 10rem;
  grid-gap: 0.75rem;
  grid-template-columns: repeat(3, 1fr);
  padding: 0.5rem 0;
}
.gallery img {
  height: 100%;
  width: 100%;  
  object-fit: cover;
  transition: transform 0.25s ease-out;
}
.gallery img:hover {
  transform: scale(1.05);
}
.icon {
  fill: currentColor;
  height: 0.875rem;
  vertical-align: -0.15rem;
}
.message {
  background: radial-gradient(circle, var(--link) 0%, var(--head) 100%);
  border: 1px solid var(--line);
  border-radius: 6px;
  color: #ffffff;
  font-weight: bold;
  font-size: 0.875rem;
  margin: 0.5rem auto;
  padding: 1rem;
  text-align: center;
  text-shadow: 1px 2px 4px #000000;
}
.message a {
  color: #ffffff;
  text-decoration-style: wavy;  
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}
.notice {
  background: var(--body);
  border: 1px solid var(--line);
  border-radius: 6px;
  margin: 0.5rem auto;
  padding: 0.5rem 0.75rem;
}
.tab {
  margin: 1rem auto;
}
.tab a {
  border: 1px solid var(--line);
  border-bottom: 3px solid var(--line);
  border-radius: 8px 8px 0 0;
  margin: 0.125rem;
  padding: 4px 6px;
	text-decoration: none;
  transition: all 0.25s ease;
}
.tab a:hover,
.tab-current {
  background: var(--body);
}
.testimonial {
  display: grid;
  grid-gap: 0.75rem;
  grid-template-columns: repeat(2, 1fr);
  margin: 1rem auto;
}
.testimonial blockquote {
  background: var(--body);
  border: 1px solid var(--line);
  border-radius: 6px;
  margin: 0;
  padding: 0 1rem 0.5rem 0.5rem;
}
.testimonial blockquote::before {
  color: var(--next);
  content: "\275E";
  float: right;
  font-size: 2.5rem;
}
.timeline ul {
  border-left: 6px solid var(--next);
  margin: 0.5rem 0 0.5rem 0.25rem;
  padding-left: 1.125rem;
}
.timeline li {
  border: 1px solid var(--line);
  border-radius: 6px;
  list-style: none; 
  margin: 1rem 0;
  padding: 0.5rem;
}
.timeline h4 {
  position: relative;
}
.timeline h4::before {
  border: 5px solid var(--text);
  border-radius: 1000px;
  content: "";
  height: 15px;
  width: 15px; 
  top: 15px;
  left: -38px;
  position: absolute;
}