<p><a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" data-umami-event="cc">CC</a> &copy; {{ site.founded }}-{{ site.time | date: '%Y' }} <a href="{{ site.baseurl }}">{{ site.title }}</a></p>
<nav>
{% for item in site.nav %}<a href="{{ item.link | prepend: site.baseurl | prepend: site.url }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>{% endfor %}
<p><a href="mailto:{{ site.email }}" target="_blank" data-umami-event="email">{% octicon mail aria-label:email class:"icon" height:16 %}</a>
<a href="https://github.com/{{ site.github }}" target="_blank" data-umami-event="github">{% octicon mark-github aria-label:github class:"icon" height:16 %}</a>
<a href="{{ site.baseurl }}/feed" target="_blank" data-umami-event="feed">{% octicon rss aria-label:feed class:"icon" height:16 %}</a></p>
</nav>