<a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" data-goatcounter-click="cc" data-umami-event="cc">CC</a> &copy; {{ site.founded }}-{{ site.time | date: '%Y' }} <a href="{{ site.baseurl }}">{{ site.title }}</a> {{ site.icon }}
<nav>
{% for item in site.nav %}
<a href="{{ item.link | prepend: site.baseurl | prepend: site.url }}">{{ item.name }}</a>
{% endfor %}
</nav>
<nav>
<a href="mailto:{{ site.email }}" target="_blank" data-goatcounter-click="email" data-umami-event="email">{% octicon mail aria-label:email class:"icon" height:16 %}</a>
<a href="https://github.com/{{ site.github }}" target="_blank" data-goatcounter-click="github" data-umami-event="github">{% octicon code aria-label:github height:16 %}</a>
<a href="{{ site.baseurl }}/feed" target="_blank" data-goatcounter-click="rss" data-umami-event="rss">{% octicon rss aria-label:rss class:"icon" height:16 %}</a>
</nav>