---
layout: default
---
<h2>{{ page.title }}</h2>
{% if page.description %}<div class="notice">{{ page.description }}</div>{% endif %}
{% if page.show %}<figure><img alt="{{ page.alt }}" src="{{ page.image | absolute_url }}"><figcaption>{{ page.caption }}</figcaption></figure>{% endif %}
{{ content }}
{% if page.date %}<p><cite>Updated on {{ page.date | date: "%B %d, %Y" }}</cite> {% for tag in page.tags %}<a href="{{ site.baseurl }}/tags#{{ tag }}" class="next"><button># {{ tag }}</button></a>{% endfor %}</p>{% endif %}
<hr>
<p> 
&laquo; {% if page.previous.url %}<a href="{{ page.previous.url | absolute_url }}">{{ page.previous.title }}</a>{% else %}<a href="{{ site.baseurl }}/posts">Pages</a>{% endif %}
<span class="next">{% if page.next.url %}<a href="{{ page.next.url | absolute_url }}">{{ page.next.title }}</a>{% else %}<a href="{{ site.baseurl }}/posts">Pages</a>{% endif %} &raquo;</span>
</p>